
<!-- Button trigger modal -->
<br>
<button type="button" class="btn btn-primary" style="float: right;" 
data-bs-toggle="modal" data-bs-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
    Add Ticket
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width: 150%;">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ModalTitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeClick()">
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-ticket [ticket]="ticket" *ngIf="ActivateAddEditTickComp">
            </app-add-edit-ticket>
        </div>
      </div>
    </div>
  </div>

<br><br><br>
<table class="table table-striped" style="border-top: 1px solid black;">
    <thead style="font-size: larger;">
        <tr>
            <th>TicketNum</th>
            <th>Title</th>
            <th>Category</th>
            <th>CompUser</th>
            <th>TicketStatus</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of TicketList">
            <td>{{dataItem.TicketNum}}</td>
            <td>{{dataItem.Title}}</td>
            <td>{{dataItem.Category}}</td>
            <td>{{dataItem.CompUser}}</td>
            <td style="color: rgb(233, 24, 24); font-weight: bold;">{{dataItem.TicketStatus}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1" style="background-color: rgb(102, 151, 102); color: white;" 
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="editClick(dataItem)"
                    data-backdrop="static" data-keyboard="false"
                >
                    Edit</button>&nbsp;
                <button type="button" class="btn btn-light mr-1" style="background-color: rgb(219, 15, 15); color: white;"
                (click)="deleteClick(dataItem)"
                >
                Delete</button>
            </td>
        </tr>
    </tbody>
</table>